apscheduler
starlette_exporter
sqlalchemy
pydantic
psycopg2
python-slugify
python-jose[cryptography]
passlib[bcrypt]
python-multipart
pydantic-settings
fastapi[standard]
requests
langchain
langchain-core
langchain-community
openai
langchain-openai
bs4