/* src/App.css */

/* Conteneur principal de l'application */
.app-container {
  gap: 20px; /* Espacement entre les colonnes */
  height: 100vh; /* Prend toute la hauteur de la fenêtre */
  background-color: #f4f4f4; /* Arrière-plan global */
}
